{% extends 'base.html.twig' %}

{% block title %}Produkty{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="example-wrapper">
        <h2><a href="{{ path('basket', { 'clientId': clientId }) }}">KOSZYK</a></h2>

        {% for product in products %}
            <div class="product">
                <div class="product-image"><img alt="{{ product.name }}" src="/products-pictures/{{ product.picture }}">
                </div>
                <h3>{{ product.name }}</h3><br/>
                <div>Cena: {{ product.price }} {{ product.currency }}/{{ product.unit }}</div>
                <br/>
                {% set quantity = product.warehouse.quantity|default(0) %}
                <div>Dostępnych: {{ quantity }}</div>
                <br/>
                <h3>
                    {% if quantity == 0 %}
                    <button name="addToCart" data-product-id="{{ product.id }}" data-client-id="{{ clientId }}" disabled>DODAJ DO
                        KOSZYKA
                    </button>
                    {% else %}
                        <button name="addToCart" data-product-id="{{ product.id }}" data-client-id="{{ clientId }}">DODAJ DO
                            KOSZYKA
                        </button>
                    {% endif %}
                </h3>
                <hr>
            </div>
        {% endfor %}
    </div>
    <script>
        let addToCartButtons = document.getElementsByName('addToCart');
        addToCartButtons.forEach(function (button) {
            button.addEventListener('click', addToCart);
        })

        function addToCart(event) {
            let productData = event.target.dataset;
            let url = "{{ path('add_to_basket', { 'clientId': 'CLIENT_ID', 'productId': 'PRODUCT_ID', 'quantity': 'PRODUCT_QUANTITY' }) }}";
            url = url.replace('CLIENT_ID', productData.clientId)
                .replace('PRODUCT_ID', productData.productId)
                .replace('PRODUCT_QUANTITY', '1');
            $.get(url, function (data) {
            });
        }
    </script>

    <br>
    {% if pagesCount > 1 %}

        {# Number of page around current page+1 #}
        {% set nearbyPagesLimit = 4 %}

        <div>
            <ul class="pagination">
                {% if currentPage != 1 %}
                    <li>
                        <a href="{{ path(url, { 'page': 1 }) }}">First</a>
                    </li>
                {% endif %}
                {% for i in 1..pagesCount %}
                    {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                        <li class="disabled"><a href="#">...</a></li>
                    {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                        <li class="disabled"><a href="#">...</a></li>
                    {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                    {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                    {% else %}
                        <li {% if currentPage == loop.index %} class="active"{% endif %}>
                            <a href="{{ path(url, { 'page': loop.index }) }}">{{ loop.index }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if currentPage != pagesCount %}
                    <li>
                        <a href="{{ path(url, { 'page': pagesCount }) }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}