{% extends 'base.html.twig' %}

{% block title %}Koszyk{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <a href="{{ path("products_list", { 'page': productPageNumber|default("1") }) }}">Powrót do listy produktów</a>
        <h1>Koszyk</h1>

        {% if basket %}
            {% set i=0 %}
            {% set price=0 %}
            {% for basketProduct in basket.basketProducts %}
                {% set i=i+1 %}
                {% set price=price+basketProduct.product.price %}
                <div id="product-{{ i }}">
                    <div>Produkt: {{ basketProduct.product.name }}</div>
                    <div>Ilość: {{ basketProduct.quantity }}</div>
                    <button name="removeFromCart" data-product-div-id="product-{{ i }}" data-basket-product-id="{{ basketProduct.id }}">Usuń
                    </button>
                    <hr>
                </div>
            {% endfor %}
            <div>Suma całkowita: {{ price }}</div>
            <h2><a href="{{ path('order', {"clientId": clientId}) }}">ZAMÓW</a></h2>
        {% else %}
            <h2>W Twoim koszyku nie ma jeszcze produktów.</h2>
        {% endif %}
    </div>
    <script>
        let removeFromCartButtons = document.getElementsByName('removeFromCart');
        console.log(removeFromCartButtons);
        removeFromCartButtons.forEach(function (button) {
            button.addEventListener('click', removeFromCart);
        })

        function removeFromCart(event) {
            let productData = event.target.dataset;
            let url = "{{ path('remove_from_basket', { 'basketProductId': 'PRODUCT_ID', 'quantity': 'PRODUCT_QUANTITY' }) }}";
            url = url.replace('PRODUCT_ID', productData.basketProductId)
                .replace('PRODUCT_QUANTITY', '1');
            $.get(url, function (data) {
                document.getElementById(productData.productDivId).remove();
            });
        }
    </script>
{% endblock %}
