{% extends 'base.html.twig' %}

{% block title %}Zamówienie{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('products_list', {'page': '1'}) }}">Lista produktów</a>
    <h1>Zamówienie złożone!</h1>
</div>
{% endblock %}
